*.venv
*.venv2
*.jpg
*.zip
*.csv

# Windows junk
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

#IDE
.vscode/
.idea

#datasets
data/raw/
data/processed/
data/mesh_images/

#weights
models/saved_weights
results/

#Mac
# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Temporary files
*.tmp
*.bak


# uv
.python-version
*.toml
uv.lock


# Godot
.godot/
.import/
export.cfg
export_presets.cfg
*.translation

# Plugin assets that can be re-downloaded
fake-it-till-you-make-it/Assets/Map/godot_heightmap_plugin/
fake-it-till-you-make-it/Assets/Map/SimpleGrassTextured/


# Ignore the Godot map plugin downloads completely
**/godot_heightmap_plugin/
**/SimpleGrassTextured/

# Or more aggressive — ignore the entire Map folder
**/Assets/Map/


# IDE
.vscode/
.idea/

# Python virtual env
.venv2/
__pycache__/
*.pyc

# === Godot ===
.godot/
.import/
*.translation
export.cfg
export_presets.cfg

# === Plugins (re-installable from AssetLib) ===
# Keep ONLY the addon you actually use:
fake-it-till*/addons/*
!fake-it-till*/addons/infinite_heightmap_terrain/ #! is a "don't ignore" override.

# === Plugin demos & docs ===
**/demo/
**/doc/

# === Runtime-generated terrain data ===
fake-it-till*/terrain_data/

# === Old/unused map plugins ===
**/Map/godot_heightmap_plugin/
**/Map/SimpleGrassTextured/

# === Python ===
.venv2/
.venv/
__pycache__/
*.pyc

# === IDE ===
.vscode/
.idea/
*.swp


# speech-to-text model
vosk-model-small-en-us-0.15/
/vosk-model-small-en-us-0.15/

# SER model checkpoint (too large for git)
MMUI/results/checkpoint-728/model.safetensors
MMUI/results/checkpoint-728/optimizer.pt
MMUI/results/checkpoint-728/rng_state.pth
MMUI/results/checkpoint-728/scheduler.pt
MMUI/results/checkpoint-728/training_args.bin
